.admin-view{
  width: 100%;
}

.loginContainer{
  position: absolute;
  left: 50%;
  top: 20%; 
  margin-left: -215px;
  width:430px;
  height:394px;
  background: #fff;
}

.loginTitle{
  font-size: 24pt;
  margin-left: 39px;
  margin-top: 30px;
  color: #2c95dd;
}
.loginErrorArea{
  height: 45px;
}
#loginForm{
  margin-top: 15px;
}
#inputUsername{
  width: 340px;
  height: 47px;
  margin-left: 39px;
  font-size: 16pt;
}

#inputPassword{
  width: 340px;
  height: 47px;
  margin-left: 39px;
  margin-top: 39px;
  font-size: 16pt;
}

#loginSubmit{
  width: 106px;
  margin-left: 272px;
  margin-top: 50px;
  font-size: 14pt;
}

#reLoginForm{
  margin-top: 15px;
}
#reLoginInputUsername{
  width: 340px;
  height: 47px;
  margin-left: 39px;
  font-size: 16pt;
}

#reLoginInputPassword{
  width: 340px;
  height: 47px;
  margin-left: 39px;
  margin-top: 39px;
  font-size: 16pt;
}

#reLoginSubmit{
  width: 106px;
  height: 38px;
  margin-left: 272px;
  margin-top: 50px;
  font-size: 14pt;
}

#emcLoginDialog{
  left: 50%;
  top: 50%; 
  width:430px;
  height:394px;
  background: #fff;
}



/* style for error page*/
.error-container {
  box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  max-width: 400px;
  _width: 400px;
  margin: 0em auto;
  padding-left: 1em;
}

.bsm-search{
  position: relative;
  margin: 7px 0 0 12px;
  float: left;
}

.bsm-add-bookmark{
  float: left;
  margin: 0 0 0 6px;
  width: 66px !important;
  height: 38px;
  padding: 0;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.bsm-search-form{
  float: left;
  width: 367px;
  height: 30px;
  line-height: 30px;
}
.form-with-magnify{
  position: relative;
}
form{
  display: block;
  margin-top: 0em
}

.bsm-search-input{
  color: #999;
  background: transparent;
  padding: 8px 0 9px 10px;
  font-size: 14px;
  outline: medium none;
  overflow: hidden;
  width: 100%;
  line-height: 17px;
  border: 2px solid #2ecc71;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1);
  background-color: #E1EAF2;
  color: #2ecc71;
}

.bsm-login-field{
  font-size: 17px;
  text-indent: 3px;
  border-color: transparent;
  width: 100%;
  border: 2px solid #dce4ec;
  color: #34495e;
  padding: 8px 0 9px 10px;
  border-radius: 6px;
  box-shadow: none;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  transition: border linear .2s,box-shadow linear .2s;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 0px;
}
.bsm-login-container{
  position: absolute;
  left: 50%;
  top: 20%; 
  margin-left: -215px;
  width:430px;
  height:394px;
}
